.letras {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.letras-erradas-texto {
   font-size: 20px;
}

.letras-juego {
   justify-content: center;
   flex-grow: 1;
}

.inferior {
   width: 100%;
   position: absolute;
   bottom: 0;
   display: block;
   margin-top: 45px;
}

.full-width-input {
   padding: 0px;
   width: 95%;
   margin: 0px;
}

.section-button {
   button {
      margin: 0 4px 15px 0;
   }
}

