@import '../../../styles.scss';

.full-width-input {
   width: 80%;
}

.name-select-card {
   padding: 50px 0px;
}

.right {
   margin-right: 10%;
}

.user-name {
   color: var(--primary);
   font-weight: 500;
}
