<div class="container center">
   <app-difficulty-card
      dificultad="Fácil"
      difKey="bajo"
      estrellas="1"
      texto="Ideal para jugadores novatos. Pistas claras y fáciles."
   ></app-difficulty-card>

   <app-difficulty-card
      dificultad="Medio"
      difKey="medio"
      estrellas="2"
      texto="Para jugadores que quieren pasar un buen rato adivinando palabras. Con pistas."
   ></app-difficulty-card>
   <app-difficulty-card
      dificultad="Difícil"
      difKey="alto"
      estrellas="3"
      texto="Para quienes quieren un verdadero desafío. No se pueden pedir pistas."
   >
   </app-difficulty-card>
</div>
